html {
    font-size: 16px;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/wow.png) bottom center no-repeat;
    background-size: cover;
    font-size: 2em;
}

.container{
    display: flex;
    height: 250px;
}

h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    background-color: crimson;
    padding: 30px;
    letter-spacing: 10px;
    
}

